@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap');

body {
   margin: 0;
   font-family: 'Fira Sans Condensed', sans-serif;
}

svg {
   overflow: visible;
}

.main-container {
   height: 100vh;
   display: flex;
   align-items: center;
   background: rgb(187, 187, 187);
}

.chart-outer {
   position: relative;
   width: fit-content;
   margin: 0 auto;
   padding: 1.5rem;
   border-radius: 10px;
   background: #fff;
   box-shadow: 3px 3px 20px rgba(31, 29, 29, 0.753);
}

.title-container {
   text-align: center;
}

.title {
   margin: 0;
}

.sub-title {
   margin: 0.25rem;
}

.dot {
   stroke: black;
   stroke-width: 1;
}

.label-text {
   font-size: 0.75rem;
   text-anchor: end;
}

.y-label {
   fill: #6f9df1;
   font-size: 1.05rem;
   stroke: black;
   stroke-width: 0.5;
}

.tooltip {
   position: absolute;
   background: #ddd;
   width: max-content;
   max-width: 280px;
   padding: 1rem;
   border-radius: 8px;
   opacity: 0;
}

.tt-text {
   margin: 0;
}

.tt-country {
   margin-left: 0.1rem;
}

.tt-label {
   font-size: 0.7rem;
   font-weight: bold;
   letter-spacing: -0.2px;
   margin-right: 0.25rem;
   
}